/* .external-link::after{
    color: blue;
    content: '(external)';
}
.profile{
    background-color: green;
}
div{
    background-color: rgb(255, 169, 169);
    color: rgb(0, 0, 0);
}
#container {
  display: grid;
  width: 90%;
  margin: auto;
  border: solid black 1px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  padding: 10px;
}

#cointainer{
    width: 75px;
    margin-top: 200px;
}

#container > div {
  aspect-ratio: 3 / 2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container{
    width: 550px;
}
.box1{
    background-color: turquoise;
}
.box2{
    background-color: orange;
}
.greetings{
    background-color: yellow;
    color: black;
    padding: 10px 50px 20px;
    margin:10px 50px 20px;
    height: 100px;
    width: 75px;
}
 */
:root{
    --lime-green:  rgb(121, 249, 121);
    --dark-green:  rgb(1, 62, 1);
}

.green-btn{
    background-color:var(--lime-green);
    color: var(--dark-green);
    font-weight: bold;
    font-size: smaller;
    border-color: transparent;
    padding: .25rem 1rem;
    border-radius: .5rem;
    text-align: center;
 
}

.btn-2{
    background-color: var(--dark-green);
    color: var(--lime-green);
    font-weight: bold;
    font-size: smaller;
    border: transparent;
    padding: .25rem 1rem;
    border-radius: .5rem;
    text-align: center;
}

button:hover{
    background-color:black;
    color:  white;
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: rgb(157, 178, 163);
}

i{
    color:var(--lime-green);
}