/* .external-link::after{
    color: blue;
    content: '(external)';
}
.profile{
    background-color: green;
}
div{
    background-color: rgb(255, 169, 169);
    color: rgb(0, 0, 0);
}
#container {
  display: grid;
  width: 90%;
  margin: auto;
  border: solid black 1px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  padding: 10px;
}

#cointainer{
    width: 75px;
    margin-top: 200px;
}

#container > div {
  aspect-ratio: 3 / 2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container{
    width: 550px;
}
.box1{
    background-color: turquoise;
}
.box2{
    background-color: orange;
}
.greetings{
    background-color: yellow;
    color: black;
    padding: 10px 50px 20px;
    margin:10px 50px 20px;
    height: 100px;
    width: 75px;
}
 */
